body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  margin: 0;
  padding: 0;
  touch-action: manipulation; /* Prevents double-tap zoom */
}

header {
  background-color: #2F667F;
  color: white;
  padding: 10px 20px; /* Reduced padding for smaller header */
  text-align: left;
  display: flex;
  align-items: center; /* Vertically center content */
  height: 50px; /* Reduced height */
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

#game-container {
  max-width: 500px;
  margin: 0 auto;
}

#clue-box {
  background-color: #2F667F;
  color: white;
  padding: 10px;
  margin: 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}

#answer-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.letter-box,
.fixed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2F667F;
  border: none;
}

.letter-box::after {
  content: "_";
  font-size: 1.5rem;
  color: #2F667F;
  margin-top: 5px;
}

.fixed-box {
  justify-content: center;
  color: #2F667F;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  justify-content: center;
  margin: 20px 0;
  padding: 0 10px; /* Add padding to the keyboard to prevent it from touching screen edges */
}

.key {
  padding: 15px;
  background-color: #ddd;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.key.special {
  grid-column: span 2; /* Make Reset, Del, and Enter buttons wider */
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-screen .description {
  font-size: 1rem;
  margin: 20px;
}

#start-screen .level-selector {
  margin: 20px 0;
}

#start-screen select {
  font-size: 1rem;
  padding: 5px;
}

#play-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #2F667F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .letter-box,
  .fixed-box {
    width: 30px;
    height: 50px;
    font-size: 1.2rem;
  }

  .key {
    padding: 10px;
    font-size: 1rem;
  }

  #keyboard {
    padding: 0 15px; /* Increased padding for smaller screens */
  }

  header {
    padding: 8px 15px;
    height: 40px; /* Reduced height for mobile screens */
  }
}
